fastapi==0.115.0
uvicorn[standard]==0.30.6
opencv-python==4.10.0.84
python-multipart==0.0.9
ultralytics>=8.0.0
azure-storage-blob>=12.17.0
azure-servicebus>=7.9.0
python-dotenv>=1.0.0
django>=5.0
whitenoise>=6.6.0
